<div class="alternative">
  <div class="field">
    <%= form.label 'Option', :for => :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label 'Additional information' %>
    <%= form.text_area :description, :rows => 2 %>
  </div>
  <div class="field">
    <%= link_to('Remove', '#',
      class: 'displayLink',
      data: { remove_alternative: 'yes' }
    ) %>
  </div>
  <%= form.hidden_field :_destroy %>
</div>
