<%= form_for(@choice) do |f| %>
  <%= render :partial => 'choice_title_desc', :object => f %>

  <h3>Alternatives</h3>
  <div id="alternatives">
    <%= f.fields_for :alternatives do |alt| %>
      <%= render :partial => 'alternative', locals: { form: alt } %>
    <% end %>
  </div>
  <p><!-- add_alternative_link -->'Add an alternative'</p>

  <h3>Dates</h3>
  <div id='open-close'>
    <%= render partial: 'date_time_select',
      locals: { form: f, field: 'opening' } %>
    <%= render partial: 'date_time_select',
      locals: { form: f, field: 'deadline' } %>
  </div>

  <div class="actions">
    <%= f.submit 'Publish' %>
  </div>
<% end %>
