<%= form_for(@choice) do |f| %>
  <%= f.hidden_field :edit_token %>
  <%= render :partial => 'choice_title_desc', :object => f %>

  <h3>Alternatives</h3>
  <div id="alternatives">
    <%= f.fields_for :alternatives do |alt| %>
      <%= render :partial => 'alternative', locals: { form: alt } %>
    <% end %>
  </div>
  <div><%= link_to_add_alternative(f) %></div>

  <h3>Dates</h3>
  <div id='open-close'>
    <%= render partial: 'date_time_select',
      locals: { form: f, field: 'opening', value: @choice.opening } %>
    <%= render partial: 'date_time_select',
      locals: { form: f, field: 'deadline', value: @choice.deadline } %>
  </div>

  <h3>Options</h3>
  <div id='options'>
    <%= f.check_box :intermediate %>
    <%= f.label :intermediate, 'Show intermediate result' %>
  </div>

  <div class="actions">
    <%= f.submit 'Publish' %>
  </div>
<% end %>
