<%= render :partial => 'choice_edit_errors' %>
<%= form_for(@choice) do |f| %>
  <%= render :partial => 'choice_title_desc', :object => f %>
  <div id="alternatives">
    <%= render :partial => 'alternative', 
      :collection => @choice.alternatives %>
  </div>
  <p><%= add_alternative_link 'Add an alternative' %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
