<%= javascript_include_tag('alternatives') %>

<h1>Alternatives for choice</h1>

<p id="notice"><%= notice %></p>

<%= render :partial => 'choice_edit_errors' %>

<%= form_for(@choice) do |f| %>
  <%= render :partial => 'choice_title_desc', :object => f %>
  <div id="alternatives">
    <%= render :partial => 'choices/alternative', 
        :collection => @choice.alternatives %>
  </div>
  <div class="actions">
    <%= button_to_function 'Add an alternative', 
      "$('#alternatives')[0].addAlternative(' #{ escape_javascript( render :partial => 'choices/alternative', :object => Alternative.new)}')", :id => 'addAlternative' %>
    <%= button_to 'Cancel', root_path %>
    <%= f.submit 'Save and Continue' %>
  </div>
<% end %>

