<%= javascript_include_tag('alternatives') %>

<h1>Edit Question</h1>

<p id="notice"><%= notice %></p>
<%= render :partial => 'choice_edit_errors' %>
<%= render :partial => 'form' %>

<div class="actions">
  <%= button_to 'Cancel',
    wrap_choice_path(@choice.edit_token),
    :method => :get %>
</div>
