<p id="notice"><%= notice %></p>

<h1>Editing choice</h1>

<p id='ctitle' class="information">
Your choice, <span class="choiceTitleInline">
  <%= @choice.title %>
</span>
<%= render (:partial => "title_d_popup_button", :object =>
  { :title_id => :ctitle, :description_id => :cdscr }) %>
</p>

<p id='cdscr' class="choiceDescription">
  <%= @choice.description %>
<%= render (:partial => "title_d_popup_button", :object =>
  { :title_id => :ctitle, :description_id => :cdscr }) %>
</p>

<%= link_to 'Later', root_path %>

