<h1>Publish the Choice</h1>

<p id="notice"><%= notice %></p>

<%= render :partial => 'display', :object => @choice %>

<%= form_for(@choice, :url => publish_choice_path ) do |f| %>
  <div id='open-close'>
    <div class="date_time_field">
      <%= f.label 'Opening' %>
      <%= f.jq_datetime_select :opening, :default => DateTime.current %>
    </div>
    <div class="date_time_field">
      <%= f.label 'Deadline' %>
      <%= f.jq_datetime_select :deadline, :default => 1.day.from_now %>
    </div>
  </div>
  <div class="actions">
    <%= button_to 'Edit alternatives', :action => :edit, :id => @choice.id %>
    <%= f.submit 'Publish' %>
  </div>
<% end %>

