<%= javascript_include_tag('alternatives') %>

<h1>Create Question</h1>

<p id="notice"><%= notice %></p>
<%= render :partial => 'choice_edit_errors' %>

<%= render :partial => 'form' %>

<div class="actions">
  <%= submit_tag 'Cancel', :name=>'cancel' %>
</div>
