<h1>Create a new choice</h1>

<%= render :partial => 'choice_edit_errors' %>
<%= form_for(@choice) do |f| %>
  <%= render :partial => 'choice_title_desc', :object => f %>
  <div class="actions">
    <%= button_to 'Cancel', root_path %>
    <%= f.submit %>
  </div>
<% end %>
