<h1>Results</h1>

<%= render :partial => 'title' %>

<% now = Time.now %>
<% deadline = @choice.deadline || now %>

<p>
  <% if now < deadline %>
    <% if @choice.intermediate %>
      Intermediate results. This choice will close
    <% else %>
      Results of this choice will become available
    <% end %>
  <% else %>
    This choice closed to further responses
  <% end %>
  <%= datetime_full_display(@choice.deadline) %>.
  <% unless @choice.result_computed? %>
    Computation in progress.
  <% end %>
</p>

<% if deadline <= now || @choice.intermediate %>
  <div
    data-parto-display=<%= @parto %>
    data-parto-items="<%= @choice.parto_items_encoding %>"
  ></div>
<% end %>

<%= home_button %>
