<p id="notice"><%= notice %></p>

<%= render :partial => 'display', :object => @choice %>

<% now = Time.now %>
<% if now < @choice.opening %>
  <p>This choice will open for selection in 
    <%= distance_of_time_in_words(now, @choice.opening) %>
  </p>
<% else %>
  <%= render :partial => 'selection', :object => @choice %>
<% end %>

<p>Express your preference within
  <%= distance_of_time_in_words(now, @choice.deadline) %>,
  after which this choice will close for selection.
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', root_path %>
