<h1>Make your selection</h1>

<%= render :partial => 'title' %>

<% now = Time.now %>
<% opening = @choice.opening || now %>
<% deadline = @choice.deadline || now %>
<% if now < opening %>
  <p>This choice will open for selection
    <%= datetime_full_display(opening) %>
  </p>
<% elsif now < deadline %>
  <p>Express your preference before
    <%= datetime_full_display(deadline) %>.
  </p>
  <%= render :partial => 'selection', 
      :locals => { 
        :choice => @choice,
        :expression => @expression 
      } %>
<% else %>
  <p>This choice closed for selection
    <%= datetime_full_display(deadline) %>.
  </p>
<div class="para">
<a class="displayLink" href="<%= result_choice_path %>">Click here to
view results.</a>
</div>

<% end %>

<%= home_button %>
