<h1>Make your selection</h1>

<%= render :partial => 'title' %>

<% now = Time.now %>
<% if now < @choice.opening %>
  <p>This choice will open for selection in 
    <%= distance_of_time_in_words(now, @choice.opening) %>
  </p>
<% elsif now < @choice.deadline %>
  <%= render :partial => 'selection', 
      :locals => { 
        :choice => @choice,
        :expression => @expression 
      } %>
  <p>Express your preference within the next
    <%= distance_of_time_in_words(now, @choice.deadline) %>.
  </p>
<% else %>
  <p>This choice closed for selection
  <%= distance_of_time_in_words(now, @choice.deadline) %> ago.
  </p>
<div class="para">
<a class="displayLink" href="<%= result_choice_path %>">Click here to
view results.</a>
</div>

<% end %>

<%= button_to 'Socelect home', root_path %>
