<h1>Make your selection</h1>

<%= render :partial => 'title' %>

<% now = Time.now %>
<% if now < @choice.opening %>
  <p>This choice will open for selection
    <%= datetime_full_display(@choice.opening) %>.
  </p>
<% elsif now < @choice.deadline %>
  <%= render :partial => 'selectionApproval',
      :locals => { 
        :choice => @choice,
        :expression => @expression 
      } %>
  <p>Express your preference before
    <%= datetime_full_display(@choice.deadline) %>.
  </p>
<% else %>
  <p>This choice closed for selection
  <%= datetime_full_display(@choice.deadline) %>.
  </p>
  <div class="para">
  <a class="displayLink" href="<%= result_choice_path %>">Click here to
  view results.</a>
  </div>
<% end %>

<%= home_button %>
