<h1>Make your selection</h1>

<%= render :partial => 'title' %>

<% now = Time.now.utc.beginning_of_minute %>
<% if now < @choice.opening %>
  <p>This choice will open for selection
    <%= datetime_full_display(@choice.opening) %>
  </p>
<% elsif now < @choice.deadline %>
  <p>Express your preference before
    <%= datetime_full_display(@choice.deadline) %>.
  </p>
  <%= render :partial => 'selection', 
      :locals => { 
        :choice => @choice,
        :expression => @expression 
      } %>
  <%= render :partial => 'choices/alternatives' %>
<% else %>
  <p>This choice closed for selection
    <%= datetime_full_display(@choice.deadline) %>.
  </p>
<div class="para">
<a class="displayLink" href="<%= result_choice_path %>">Click here to
view results.</a>
</div>

<% end %>

<%= home_button %>
