<p id="notice"><%= notice %></p>

<p>Your choice, <span class="choiceTitleInline">
  <%= @choice.title %>
</span>
</p>

<p>
  <%= @choice.description %>
</p>

<p>
  <b>Opening:</b>
  <%= @choice.opening %>
</p>

<p>
  <b>Deadline:</b>
  <%= @choice.deadline %>
</p>


<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', root_path %>
