<h1>Your Question is Ready</h1>

Be sure to bookmark this page so that you can find these links again.

<div class="para">The link to share for expressing preferences is:</div>
<div>
  <a class="displayLink" href="<%= choice_path(@choice.read_token) %>"
  >Respond to: <%= @choice.title %></a>
</div>
<div>Most browsers will allow
you to right click on the link or click-hold and
copy to your clipboard in order to
paste the link elsewhere, to publish.
</div>

<div class="para">The link for viewing the result is:</div>
<div>
<a class="displayLink" href="<%= result_choice_path(@choice.read_token) %>"
>Result: <%= @choice.title %></a>
</div>

<div class="para">The link to edit your question is:</div>
<div>
<a class="displayLink" href="<%= edit_choice_path(@choice.edit_token) %>"
>Edit: <%= @choice.title %></a>
</div>

<%= render :partial => 'display', :object => @choice %>

<%= home_button %>
