<h1>Your selection</h1>

<p>You selected:
  <div
    data-parto-display=<%= @parto %>
    data-parto-items="<%= @choice.parto_encoding.to_json %>"
  ></div>
</p>

<p>The link for viewing the result is:</p>
<p>
  <%= link_to("View result of choice, #{@choice.title}",
    result_choice_path(@choice.read_token), class: 'displayLink')
  %>
</p>
<p>Bookmark the link if you like, to save it.</p>

<%= render :partial => 'choices/display', :object => @choice %>

<%= home_button %>
