<h1><%= @choice.title %></h1>

<p>You selected:
  <div
    data-parto-display=<%= @parto %>
    data-parto-items="<%= @choice.parto_items_encoding %>"
  ></div>
</p>

<p>The link for viewing the result is:</p>
<p>
  <%= link_to("Result: #{@choice.title}",
    result_choice_path(@choice.read_token), class: 'displayLink')
  %>
</p>
<p>Bookmark the link if you like, to save it.</p>

<%= render :partial => 'choices/title' %>
<%= render :partial => 'choices/alternatives' %>

<%= home_button %>
