<h1>Listing alternatives</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Choice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alternatives.each do |alternative| %>
  <tr>
    <td><%= alternative.title %></td>
    <td><%= alternative.description %></td>
    <td><%= alternative.choice_id %></td>
    <td><%= link_to 'Show', alternative %></td>
    <td><%= link_to 'Edit', edit_alternative_path(alternative) %></td>
    <td><%= link_to 'Destroy', alternative, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alternative', new_alternative_path %>
