<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @alternative.title %>
</p>

<p>
  <b>Description:</b>
  <%= @alternative.description %>
</p>

<p>
  <b>Choice:</b>
  <%= @alternative.choice_id %>
</p>


<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
