<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:page_title) || 'Choice' %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="title">
    <%= image_tag 'ThreeFourFive4_64.png',
      alt:'Three, four, five tally marks'
    %>
    <h1><%= site_name %></h1>
  </div>
  <div class="content">
    <%= yield %>
  </div>
  <div id="foot">
    <ul>
      <li>License GPL-3.0</li>
      <li><a href="/welcome/terms">terms</a></li>
      <li><a href="/welcome/terms#privacy">privacy</a></li>
      <li><a href="/welcome/contact">contact</a></li>
      <li>Copyright ©2010, 2019 Douglas Lovell</li>
    </ul>
  </div>
</body>
</html>
