<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Social Choice</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ui.min.js' %>
  <%= javascript_include_tag 'rails.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jqRailsDateTimeSelect.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
   <div id="title">
	<img src="/images/ThreeFourFive4_64.png"
        alt="Three, four, five tally marks"/>
	<h1>socelect.com</h1>
   </div>

   <div class="content">
   <%= yield %>
   </div>

</body>
</html>
